{% extends 'base.html' %}
{% block content %}

    <div class="container text-center mx-auto my-4">

        <form class="url text-center my-5" autocomplete="off">
            
            <div class="send">
                <input type="text" class="form-control m-auto" name="url" placeholder="Enter  url" />
                
                <div class="send-button">
                    <h2>Get Flair <i class="fas fa-fire-alt fa-2x"></i></h2>
                </div>
            </div>

            </form>

            <div class="output my-5" style="visibility: hidden">
                <h1 class="my-5" >Science/technology</h1>
            </div>

    </div>

{% endblock %}